apiVersion: apps/v1
kind: Deployment
metadata:
  name: postgres-deployment
spec:
  replicas: 1
  selector:
    matchLabels:
      app: postgres
  template:
    metadata:
      labels:
        app: postgres
    spec:
      containers:
        - name: postgres
          # We'll use a lightweight 'alpine' version of postgres
          image: postgres:15-alpine
          ports:
            - containerPort: 5432
          envFrom:
            # This is the key: it loads all key-value pairs
            # from our 'postgres-secret' as environment variables.
            # This is how our apps get their credentials!
            - secretRef:
                name: postgres-secret
          volumeMounts:
            - name: postgres-storage
              # This mounts our persistent storage into the container
              mountPath: /var/lib/postgresql/data
      volumes:
        - name: postgres-storage
          # This links to the PersistentVolumeClaim we created
          persistentVolumeClaim:
            claimName: postgres-pvc

