apiVersion: apps/v1
kind: Deployment
metadata:
  name: worker-deployment
  labels:
    app: worker
spec:
  replicas: 1
  selector:
    matchLabels:
      app: worker
  template:
    metadata:
      labels:
        app: worker
    spec:
      initContainers:
        - name: check-db-ready
          image: busybox:1.36-glibc
          command: ['sh', '-c', 
            'until nc -z -w1 postgres-svc 5432; do 
              echo "Waiting for database..."; 
              sleep 2; 
            done;']
      containers:
        - name: worker
          image: worker-node:0.2
          imagePullPolicy: Never # Tells K3s to use the local image
          ports:
            - containerPort: 8525
          env:
            - name: DB_HOST
              value: "postgres-svc" # Use the K8s service name
            - name: DB_NAME
              valueFrom:
                secretKeyRef:
                  name: postgres-secret
                  key: DB_NAME
            - name: DB_USER
              valueFrom:
                secretKeyRef:
                  name: postgres-secret
                  key: DB_USER
            - name: DB_PASS
              valueFrom:
                secretKeyRef:
                  name: postgres-secret
                  key: DB_PASS
