
apiVersion: apps/v1
kind: Deployment
metadata:
  name: result-deployment
  labels:
    app: result
spec:
  replicas: 1
  selector:
    matchLabels:
      app: result
  template:
    metadata:
      labels:
        app: result
    spec:
      # This is the new block to tell K8s how to pull private images
      imagePullSecrets:
        - name: ghcr-secret # The secret we created with your PAT
      initContainers:
        - name: check-worker-ready
          image: busybox:1.36
          command: ['sh', '-c', 'until nc -z -w 2 worker-svc 8525; do echo "Waiting for worker..."; sleep 2; done;']
      containers:
        - name: result
          # This is the new image path from your GitHub Container Registry
          image: ghcr.io/inby-420/auto-stack/result-node:0.6
          imagePullPolicy: Always # Ensures it always pulls the latest image
          ports:
            - containerPort: 8080
          envFrom:
            - secretRef:
                name: postgres-secret # Load DB credentials
