apiVersion: apps/v1
kind: Deployment
metadata:
  name: sender-deployment
spec:
  replicas: 1
  selector:
    matchLabels:
      app: sender
  template:
    metadata:
      labels:
        app: sender
    spec:
      containers:
        - name: sender
          image: traffic-sender:0.2
          imagePullPolicy: Never
          env:
            # We give the sender the *K8s service name* of the worker
            - name: WORKER_URL
              value: "http://worker-svc:8525/calculate"

